.main {

}

.header, .statusMessage {
	font-weight: inherit;
}

.statusMessage {
	height: 60px;
}

.note {
	padding-bottom: 20px;
}

.buttonContainer {
	display: flex;
	justify-content: space-between;
}
