.uploadContainer {
	display: flex;
	justify-content: center;
}

.uploadContainer > table {
	height: 60px;
	padding-right: 20px;
}

.inputContainer {
	padding-left: 20px;
}

.inputContainer > input[type=value] {
	width: calc(100% - 6px);
}

.inputContainer > input[type=file] {
	width: 240px;
	text-overflow: ellipsis;
}

.button {
	width: 60px;
	height: 60px;

	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	font-family: inherit;

	border: 1px #222 solid;
	background-color: transparent;
	color: #222;
	cursor: pointer;

	border-radius: 4px;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 10px;
	padding-right: 10px;

	transition: background-color 0.1s ease, color 0.1s ease-in;
}

.button:hover {
	color: white;
	background-color: #222;

	transition: background-color 0.1s ease, color 0.1s ease-in;
}

.button.inactive {
	border-color: #a6a2a2;
	color: #666262;
}

.button.inactive:hover {
	color: #666262;
	background-color: white;

	transition: none;
	cursor: default;
}

.uploadIcon {
	width: 20px;
}

.progressContainer {
	margin-top: 50px;
	display: flex;
}

.progressContainer {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.statusMessage, .details {
	height: 20px;
	max-width: 500px;
}

.statusMessage.error, .details.error {
	color: #db0b31;
}

.details {
	font-size: 12px;
}

.loadingImageContainer {
	display: flex;
	justify-content: center;
	align-content: center;
	width: 50px;
	height: 50px;
}

.loadingImage {
	align-content: center;
	width: 20px;
}
