.main {

}

.header, .statusMessage {
	font-weight: inherit;
}

.inputContainer {
	padding-left: 20px;
}

.statusMessage {
	height: 20px;
}

.loadingImage {
	align-content: center;
	position: relative;
}

.loadingImageContainer {
	padding-left: 40%;
	padding-top: 0%;
	padding-bottom: 0%;
    width: 40px;
}