.main {
	display: flex;
	flex-direction: column;
	height: inherit;
}

.headerContainer {
	text-align: center;

	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100px;
	height: 30vh;
	padding-top: 30px;
	padding-bottom: 20px;
}

.header {
	font-weight: inherit;
}

.content {
    position:relative;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
	padding-bottom: 150px;
}
